<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css -->
    <link rel="stylesheet" href="../static/table.css" />
    <!--End css -->
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand"><img src="../static/dvastlogo.png" alt="logo loading" /></a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/"><i class="fa fa-fw fa-home fa-lg" alt='Home'></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/downloads/Forecast%20and%20Schedule"><i class="fa fa-download" alt='download'></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">username</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="logout.php?logout">Log Out</a>
                </div>
             </li> 
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class = "table_caption">
                Downloads (.xlsx)
            </div>
        </div>
        <div class = 'row justify-content-center'>
            <select onchange="location = this.value;">    
                {% for dwnld in downloads %}
                    {% if dwnld == sel_op %}
                        <option value="{{ url_for('select_download', dwnld=dwnld) }}" selected>{{ dwnld }}</option>'
                    {% else %}
                        <option value="{{ url_for('select_download', dwnld=dwnld) }}">{{ dwnld }}</option>'
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="row justify-content-center">
            <div class="table-responsive">
                <table>
                    <tr>
                        {% for col in column_names %}
                        <th>{{col}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                            {% if col == 'Download' %}
                                <td><i class="fa fa-download" alt='download' onclick=" window.location.href='{{ url_for('return_file', name=row_) }}';"></i></td>
                            {% else %}
                                <td>{{row_}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                
                </table>
            </div>
        </div>    
    </div>
    
</body>

</html>