
    !doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css -->
    <link rel="stylesheet" href="static/style.css" />
    <!--End css -->
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand"><img src="./static/dvastlogo.png" alt="logo loading" /></a>
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">user@gmail.com</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="logout.php?logout">Log Out</a></div>
                    </li> 
        </ul>
    </nav>
    
    <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Loan Repayment</th>
      <th>Interest</th>
      <th>Return on Equity</th>
      <th>Opertional Expenses</th>
      <th>Interest on working capital</th>
      <th>Total Outflow</th>
      <th>Scrap Value</th>
      <th>Ramping &amp; peak support benefits</th>
      <th>Loss reduction through BESS</th>
      <th>Capacity Deferral</th>
      <th>Revenue by reducing outages</th>
      <th>Net Cashflow</th>
      <th>NPV</th>
    </tr>
    <tr>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0.000000</td>
      <td>7.878150</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.228298</td>
      <td>-17.430146</td>
      <td>0.000</td>
      <td>8.627129</td>
      <td>0.200000</td>
      <td>1.509691</td>
      <td>0.145600</td>
      <td>-6.947726</td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>9.726111</td>
      <td>7.440475</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.345873</td>
      <td>-26.836157</td>
      <td>0.000</td>
      <td>8.954143</td>
      <td>0.206000</td>
      <td>1.509691</td>
      <td>0.149968</td>
      <td>-16.016355</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>9.726111</td>
      <td>6.565125</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.334792</td>
      <td>-25.949727</td>
      <td>0.000</td>
      <td>9.468215</td>
      <td>0.212180</td>
      <td>1.509691</td>
      <td>0.154467</td>
      <td>-14.605174</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>9.726111</td>
      <td>5.689775</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.323712</td>
      <td>-25.063297</td>
      <td>0.000</td>
      <td>10.132986</td>
      <td>0.218545</td>
      <td>1.509691</td>
      <td>0.159101</td>
      <td>-13.042973</td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>9.726111</td>
      <td>4.814425</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.312632</td>
      <td>-24.176866</td>
      <td>0.000</td>
      <td>10.615857</td>
      <td>0.225102</td>
      <td>1.509691</td>
      <td>0.163874</td>
      <td>-11.662342</td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>9.726111</td>
      <td>3.939075</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.301551</td>
      <td>-23.290436</td>
      <td>0.000</td>
      <td>11.413698</td>
      <td>0.231855</td>
      <td>1.509691</td>
      <td>0.168790</td>
      <td>-9.966401</td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>9.726111</td>
      <td>3.063725</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.290471</td>
      <td>-22.404005</td>
      <td>0.000</td>
      <td>10.945092</td>
      <td>0.238810</td>
      <td>1.509691</td>
      <td>0.173854</td>
      <td>-9.536557</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>9.726111</td>
      <td>2.188375</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.279391</td>
      <td>-21.517575</td>
      <td>0.000</td>
      <td>11.163031</td>
      <td>0.245975</td>
      <td>1.509691</td>
      <td>0.179070</td>
      <td>-8.419808</td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>9.726111</td>
      <td>1.313025</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.268310</td>
      <td>-20.631145</td>
      <td>0.000</td>
      <td>11.365217</td>
      <td>0.253354</td>
      <td>1.509691</td>
      <td>0.184442</td>
      <td>-7.318440</td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>9.726111</td>
      <td>0.437675</td>
      <td>8.073198</td>
      <td>1.2505</td>
      <td>0.257230</td>
      <td>-19.744714</td>
      <td>12.505</td>
      <td>11.476930</td>
      <td>0.260955</td>
      <td>1.509691</td>
      <td>0.189975</td>
      <td>6.197837</td>
      <td>-65.7422</td>
    </tr>
  </tbody>
</table>
    
</body>

</html>
